.FooterStd {/********** Footer Standard **********/
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $CouleurGS;
  color: $CouleurTexteC;
  font-size: 0.9rem;

  .BtnNav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    li {
      list-style: none;
      font-family: sans-serif;
      font-weight: bold;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      width: 75px;
      aspect-ratio: $AspectRatioItem;
      border-radius: $PetitBordureBento;
      background-color: $CouleurAccent2;
      box-shadow: $OmbrePc;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $TransitionDefault;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: $TransitionDefault;
        border-radius: $PetitBordureBento;
      }

      &:hover::before {
        background: linear-gradient(to bottom, $CouleurAccent2, $CouleurSecondaire);
        box-shadow: $OmbrePS;
        transform: scale(1.1);
      }

      a {
        text-decoration: none;
        font-weight: bolder;
        color: $CouleurTexteC;
      }
    }
  }
  

  display: none;
}

@media screen and (max-width: 768px) {
  .FooterStd {
    min-height: 17.5vh;
    font-size: $FontSizeMobile;
    flex-direction: column;

    .BtnNav {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      li {
        width: 15%;
        

      }
    }
  }
  
}

/********** Changement de class en Cas d'activation de Function **********/
.ActiveFooterSdt{
  display: flex;
}