@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/masque");
.HeaderStd {
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  width: 100%;
  justify-content: space-evenly;
  background-color: #252525;
  color: #feecdd;
  display: none;
}
.HeaderStd .logo img {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  z-index: 5;
  cursor: pointer;
  transition: 1s;
}
.HeaderStd .menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.HeaderStd .menu li {
  margin: 0 1em;
}
.HeaderStd .menu li a {
  color: #feecdd;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.HeaderStd .menu li a:hover {
  color: #ff9e42;
}

.ActiveHeaderStd {
  display: flex;
}

.HeaderDft {
  /********** Header Par défaut **********/
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  padding: 1rem;
  color: #feecdd;
}
.HeaderDft .menu {
  width: 60vw;
  border-radius: 35px;
  display: inline-flex;
  justify-content: space-around;
  background-color: rgba(225, 245, 250, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  align-items: center;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1%;
}
.HeaderDft .menu li {
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 2.3% 0.5%;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  color: #feecdd;
  text-decoration: none;
  font-weight: bold;
}
.HeaderDft .menu li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.25s;
  border-radius: 10px;
}
.HeaderDft .menu li:hover::before {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  background: linear-gradient(to bottom, #ff9e42, #503215);
  transform: scale(1.25);
}
.HeaderDft .Logo {
  width: 20vw;
  aspect-ratio: 1;
  display: flex;
  z-index: 5;
  cursor: pointer;
}
.HeaderDft .Logo img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .HeaderDft {
    align-items: center;
  }
  .HeaderDft .menu {
    width: 50vw;
    flex-direction: column;
    align-items: center;
    gap: 1%;
  }
  .HeaderDft .Logo {
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    cursor: pointer;
  }
  .HeaderDft .Logo img {
    width: 100%;
    height: 100%;
  }
}

.ModeHeaderDft {
  display: none;
}

.footerDft {
  /********** Footer Par défaut **********/
  width: 90vw;
  min-height: 10vh;
  color: #feecdd;
  font-size: 0.9rem;
  background-color: rgba(225, 245, 250, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 35px;
  padding: 1rem;
}
.footerDft .BtnNav {
  gap: 5rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerDft .BtnNav li {
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 75px;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: #ff9e42;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
.footerDft .BtnNav li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.25s;
  border-radius: 10px;
}
.footerDft .BtnNav li:hover::before {
  background: linear-gradient(to bottom, #ff9e42, #503215);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  transform: scale(1.1);
}
.footerDft .BtnNav li a {
  text-decoration: none;
  font-weight: bolder;
  color: #feecdd;
}
.footerDft section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .footerDft {
    min-height: 17.5vh;
    font-size: 0.75rem;
    z-index: 5;
    position: fixed;
    bottom: 5%;
    color: #242424;
  }
  .footerDft .BtnNav {
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  .footerDft .BtnNav li {
    width: 50px;
  }
  .footerDft section {
    flex-direction: column;
  }
}

.DesActiveFooterDefaut {
  display: none;
}

.FooterStd { /********** Footer Standard **********/
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #252525;
  color: #feecdd;
  font-size: 0.9rem;
  display: none;
}
.FooterStd .BtnNav {
  width: 35vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.FooterStd .BtnNav li {
  width: 35px;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  cursor: pointer;
}
.FooterStd .BtnNav li a {
  text-decoration: none;
  color: #242424;
  font-weight: bold;
}

/********** Changement de class en Cas d'activation de Function **********/
.ActiveFooterSdt {
  display: flex;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.75rem;
}
.App main {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ChangeMain {
  height: 85vh;
  width: 100%;
}
.ChangeMain .contenu {
  height: 100%;
  justify-content: center;
  position: relative;
}

@keyframes RotationEchelleBasse {
  0% {
    transform: scale(1.75) rotateZ(0);
  }
  50% {
    transform: scale(0.75) rotateZ(180deg);
  }
  100% {
    transform: scale(1.75) rotateZ(360deg);
  }
}
.Accueil {
  opacity: 0.75;
}
.Accueil .AccPresentation {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  text-align: center;
}
.Accueil .AccPresentation h1 {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.Accueil .AccPresentation p {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
.Accueil .AccCreaLog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding: 2rem 0;
}
.Accueil .AccCreaLog .Crea, .Accueil .AccCreaLog .Log {
  text-align: center;
  height: 30vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}
.Accueil .AccCreaLog .Crea div, .Accueil .AccCreaLog .Log div {
  height: 5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Accueil .AccCreaLog .Crea div:hover, .Accueil .AccCreaLog .Log div:hover {
  animation-play-state: paused;
}
.Accueil .AccCreaLog .Crea {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 55% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 55% 100%, 0% 100%);
  border-radius: 25px 0 0 25px;
  background-color: #503215;
  align-items: flex-start;
}
.Accueil .AccCreaLog .Crea .RoueCrea {
  background-color: #42d8ff;
  box-shadow: 0 0 15px #42d8ff, 0 0 50px #ff9e42;
  animation: RotationEchelleBasse 2.5s linear infinite;
}
.Accueil .AccCreaLog .Log {
  -webkit-clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #154450;
  border-radius: 0 25px 25px 0;
  align-items: flex-end;
}
.Accueil .AccCreaLog .Log .RoueLog {
  background-color: #ff9e42;
  box-shadow: 0 0 15px #ff9e42, 0 0 50px #42d8ff;
  animation: RotationEchelleBasse 2.5s linear infinite reverse;
}
.Accueil .AccinfoVrac {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  text-align: center;
}
.Accueil .AccinfoVrac section {
  display: flex;
  justify-content: space-around;
}
.Accueil .AccinfoVrac section div {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 30%;
}
.Accueil .AccinfoVrac section div p {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .Accueil {
    margin-bottom: 20vh;
  }
  .Accueil .AccCreaLog {
    flex-direction: column;
    padding: 1rem 0;
  }
  .Accueil .AccCreaLog .Crea {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    background-color: #503215;
    width: 90vw;
    border-radius: 35px 35px 0 0;
  }
  .Accueil .AccCreaLog .Crea div {
    margin-left: 15%;
    height: 6vh;
    aspect-ratio: 1;
  }
  .Accueil .AccCreaLog .Log {
    -webkit-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #154450;
    width: 90vw;
    border-radius: 0 0 35px 35px;
  }
  .Accueil .AccCreaLog .Log div {
    margin-right: 15%;
    height: 6vh;
    aspect-ratio: 1;
  }
  .Accueil .AccinfoVrac {
    padding: 0.5rem;
    margin: 0;
  }
  .Accueil .AccinfoVrac section {
    flex-direction: column;
  }
  .Accueil .AccinfoVrac section div {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Accueil {
    margin-bottom: 20vh;
  }
  .Accueil .AccCreaLog .Crea .RoueCrea {
    margin-left: 5%;
    height: 10vw;
    aspect-ratio: 1;
  }
  .Accueil .AccCreaLog .Log .RoueLog {
    margin-right: 5%;
    height: 10vw;
    aspect-ratio: 1;
  }
}
.galerie {
  text-align: center;
  padding: 2rem;
}
.galerie .TitreGalerie {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  text-align: center;
}
.galerie .TitreGalerie h1 {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.galerie .TitreGalerie p {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
.galerie .GrilleCartes {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.galerie .GrilleCartes .Carte {
  width: 185px;
  aspect-ratio: 0.5625;
  background-color: #ff9e42;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  border: outset #42d8ff 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  margin: 2rem auto;
}
.galerie .GrilleCartes .Carte .ContenueCarte {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.galerie .GrilleCartes .Carte .ContenueCarte .TitreCarte {
  width: 100%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #242424;
  border-radius: 30px 30px 0 0;
  place-content: center;
  font-size: 0.75rem;
  margin: 0;
}
.galerie .GrilleCartes .Carte .ContenueCarte .Decor {
  width: 85%;
  aspect-ratio: 0.5625;
  border-radius: 0 0 35px 35px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  background-color: #f9f9f9;
  -o-object-fit: cover;
     object-fit: cover;
}
.galerie .GrilleCartes .Carte .ContenueCarte .Pied2Carte {
  width: 80%;
  height: 25%;
  border-radius: 0 0 35px 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
  justify-content: space-around;
  display: none;
}
.galerie .GrilleCartes .Carte:hover {
  box-shadow: none;
  border: outset #ff9e42 5px;
  background-color: #42d8ff;
  cursor: pointer;
}
.galerie .GrilleCartes .Carte:hover .Decor {
  width: 80%;
  aspect-ratio: 3/4;
}
.galerie .GrilleCartes .Carte:hover .Pied2Carte {
  display: flex;
}
.galerie .GrilleCartes .Carte:hover .Pied2Carte .BulleLog {
  width: 17.5%;
}
@media screen and (max-width: 767px) {
  .galerie {
    margin-bottom: 20vh;
  }
  .galerie .LecteurVideoMobile {
    width: 85%;
    aspect-ratio: 0.5625;
    background-color: #ff9e42;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .galerie .LecteurVideoMobile .TitreInfoCarteV {
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.75);
    color: #242424;
    border-radius: 30px 30px 0 0;
    place-content: center;
    margin: 0;
  }
  .galerie .LecteurVideoMobile video {
    width: 100%;
    aspect-ratio: 1.7777777778;
  }
  .galerie .LecteurVideoMobile .TxtInfoCarteV {
    width: 100%;
    aspect-ratio: 5/4;
    background-color: aliceblue;
    overflow-y: scroll;
    padding: 5%;
    color: #242424;
    text-align: start;
  }
  .galerie .LecteurVideoMobile .Pied2PageInfoCarteV {
    width: 100%;
    height: 35%;
    background-color: rgba(199, 41, 41, 0.75);
    border-radius: 0 0 35px 35px;
  }
  .galerie .LecteurVideoMobile .Pied2PageInfoCarteV .BlocLog {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
  .galerie .LecteurVideoMobile .Pied2PageInfoCarteV .BlocLog .logicielUtil {
    padding: 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .galerie .LecteurVideoMobile .Pied2PageInfoCarteV .BlocLog .logicielUtil h5 {
    color: #242424;
  }
  .galerie .LecteurVideoMobile .Pied2PageInfoCarteV .BlocLog .logicielUtil .BulleLog {
    width: 15%;
  }
  .galerie .LecteurVideoD {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .galerie .LecteurVideoMobile {
    display: none;
  }
  .galerie .LecteurVideoD {
    width: 85%;
    aspect-ratio: 1.7777777778;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .galerie .LecteurVideoD video {
    width: 70%;
    aspect-ratio: 1.7777777778;
  }
  .galerie .LecteurVideoD .InfoCarteV {
    width: 25%;
    aspect-ratio: 0.5625;
    background-color: #ff9e42;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .galerie .LecteurVideoD .InfoCarteV .TitreInfoCarteV {
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.75);
    color: #242424;
    border-radius: 30px 30px 0 0;
    place-content: center;
    margin: 0;
  }
  .galerie .LecteurVideoD .InfoCarteV .TxtInfoCarteV {
    width: 100%;
    aspect-ratio: 5/4;
    background-color: aliceblue;
    overflow-y: scroll;
    padding: 5%;
    color: #242424;
    text-align: start;
  }
  .galerie .LecteurVideoD .InfoCarteV .Pied2PageInfoCarteV {
    width: 100%;
    height: 35%;
    background-color: rgba(199, 41, 41, 0.75);
    border-radius: 0 0 35px 35px;
  }
  .galerie .LecteurVideoD .InfoCarteV .Pied2PageInfoCarteV .BlocLog {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
  .galerie .LecteurVideoD .InfoCarteV .Pied2PageInfoCarteV .BlocLog .logicielUtil {
    padding: 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .galerie .LecteurVideoD .InfoCarteV .Pied2PageInfoCarteV .BlocLog .logicielUtil h5 {
    color: #242424;
  }
  .galerie .LecteurVideoD .InfoCarteV .Pied2PageInfoCarteV .BlocLog .logicielUtil .BulleLog {
    width: 15%;
  }
}

.Documentation .TitreDocumentation {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  text-align: center;
}
.Documentation .TitreDocumentation h1 {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.Documentation .TitreDocumentation p {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
.Documentation article {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 2fr;
  gap: 0;
  place-items: center;
}
.Documentation article h2 {
  grid-area: 1/1/2/2;
  color: #242424;
  font-size: 2rem;
}
.Documentation article .Burger {
  grid-area: 1/2/2/3;
  height: 5Vh;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Documentation article .Burger .FlecheH, .Documentation article .Burger .FlecheB {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.Documentation article .Burger .FlecheH {
  background-color: #42d8ff;
}
.Documentation article .Burger .FlecheB {
  background-color: #ff9e42;
}
.Documentation article input[type=checkbox] {
  display: none;
}
.Documentation article input[type=checkbox]:checked ~ .Burger .FlecheH {
  display: block;
}
.Documentation article input[type=checkbox]:checked ~ .Burger .FlecheB {
  display: none;
}
.Documentation article input[type=checkbox]:checked ~ .ContenuDoc {
  max-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Documentation article .ContenuDoc {
  height: 100%;
  display: none;
  padding: 2rem;
  grid-area: 2/1/3/3;
  overflow-y: scroll;
}
.Documentation article .ContenuDoc h3 {
  color: #ff9e42;
}
.Documentation article .ContenuDoc p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #242424;
}
.Documentation article .ContenuDoc video {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .Documentation {
    margin-bottom: 20vh;
  }
  .Documentation .TitreDocumentation h1 {
    font-size: x-large;
  }
  .Documentation article h2 {
    font-size: larger;
  }
}

.DocuProg .TitreDocuProg {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  text-align: center;
}
.DocuProg .TitreDocuProg h1 {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .DocuProg .TitreDocuProg h1 {
    font-size: x-large;
  }
}
.DocuProg .TitreDocuProg p {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
.DocuProg article {
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(245, 245, 245, 0.0823529412) 0px 10px 20px, rgba(245, 245, 245, 0.1450980392) 0px 6px 6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 2fr;
  place-items: center;
}
.DocuProg article h2 {
  grid-area: 1/1/2/2;
  color: #242424;
  font-size: 2rem;
}
.DocuProg article .Burger {
  grid-area: 1/2/2/3;
  height: 5Vh;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DocuProg article .Burger .FlecheH, .DocuProg article .Burger .FlecheB {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.DocuProg article .Burger .FlecheH {
  background-color: #42d8ff;
}
.DocuProg article .Burger .FlecheB {
  background-color: #ff9e42;
}
.DocuProg article input[type=checkbox] {
  display: none;
}
.DocuProg article input[type=checkbox]:checked ~ .Burger .FlecheH {
  display: block;
}
.DocuProg article input[type=checkbox]:checked ~ .Burger .FlecheB {
  display: none;
}
.DocuProg article input[type=checkbox]:checked ~ .ContenuDoc {
  min-height: 30vh;
  display: flex;
}
.DocuProg article .ContenuDoc {
  display: none;
  grid-area: 2/1/3/3;
  flex-direction: column;
  justify-content: space-around;
}
.DocuProg article .ContenuDoc p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #242424;
}
.DocuProg article .ContenuDoc ul {
  display: flex;
  justify-content: space-evenly;
}
.DocuProg article .ContenuDoc ul img {
  width: 15%;
}
@media screen and (max-width: 768px) {
  .DocuProg {
    margin-bottom: 20vh;
  }
  .DocuProg article h2 {
    font-size: x-large;
  }
}

.APropos {
  width: 90vw;
  border-radius: 35px;
}
.APropos .AProposTitre {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.APropos .AProposTitre h1 {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.APropos .AProposTitre p {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
.APropos .AProposVrac {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #daeffa;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.APropos .AProposVrac h2 {
  color: #242424;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.APropos .AProposVrac .ListeInfo {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.APropos .AProposVrac .ListeInfo li {
  font-size: 1.1rem;
  color: #242424;
  line-height: 1.6;
}
.APropos .PhotoProfil {
  margin: 2rem auto;
  border-radius: 35px;
  text-align: center;
  aspect-ratio: 0.5625;
}
.APropos .PhotoProfil img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 35px;
}
@media screen and (max-width: 767px) {
  .APropos {
    margin-bottom: 20vh;
  }
}
@media screen and (min-width: 768px) {
  .APropos {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 3fr;
    gap: 5rem;
  }
  .APropos .AProposTitre {
    width: 100%;
    grid-area: 1/1/2/3;
  }
  .APropos .AProposTitre h1, .APropos .AProposTitre p {
    margin: auto;
  }
  .APropos .AProposVrac {
    width: 100%;
    grid-area: 2/1/3/2;
  }
  .APropos .AProposVrac .ListeInfo {
    list-style: none;
    margin: auto;
  }
  .APropos .PhotoProfil {
    width: 100%;
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .APropos .PhotoProfil img {
    -o-object-fit: contain;
       object-fit: contain;
    padding: 2%;
  }
}

* {
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
body h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Masque", sans-serif;
}/*# sourceMappingURL=styles.css.map */